NEXT_PUBLIC_TOSS_PAYMENTS_CLIENT_ID=
TOSS_PAYMENTS_SECRET_KEY=
OPEN_API_SCRET_KEY=
DATABASE_DIR=./.pglite
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=local-nextauth-secret-for-wishket-mockup
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin1234
